.movieListing{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    margin: auto;
    margin-top: 30px;
}

.movieNumber{
    font-style: italic;
    font-size: 70px;
}



.tinyPoster{
    width:100px;
}

.moviePercentage{
    margin: 0;
    font-weight: bold;
}