.Survey{
    max-width: 900px;
    margin: auto;
    margin-top: 30px;
    text-align: left;
    
}

.movieInfo{
    display: flex;
    margin-bottom: 30px;
}

.poster{
    margin-right: 20px;
    margin-left: 20px;
    width:80%
}
.ageRating{
    border: 1px solid black;
    border-radius: 5px;
    
}

.infoLine{
    margin: 0;
    margin-bottom: 4px;
}

.sliderContainer{
    display: flex;
    align-items: center;

}

.MuiSlider-thumb{
    color: black;
  }
  .MuiSlider-rail{
    color:gray;
  }
  .MuiSlider-track{
    color: black;
  }


  @media only screen and (max-width: 600px) {
    .movieInfo{
        flex-direction: column;
        align-items: center;
    }
  }

.movieBox{
    margin-left: 20px;
    margin-right: 20px;
}